

{% block content %}
  <div class="container">
    <h2>プロフィール編集</h2>
    <form method="POST">
      {% csrf_token %}
      {{ u_form.as_p }}
      {{ p_form.as_p }}
      <button type="submit" name="update_profile" class="btn btn-primary">更新</button>
    </form>
    <h2>パスワードを変更</h2>
    <form method="POST">
        {% csrf_token %}
        {{ pw_form.as_p }}
        <button type="submit" name="change_password">パスワードを変更</button>
    </form>
    <a href="{% url 'home' %}">戻る</a>
  </div>
{% endblock %}
