<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">My Site</a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <!-- 認証済みユーザー用のメニュー -->
                    <div>
                        <h2>マイページ</h2>
                        <li><a href="{% url 'profile_edit' %}">ユーザー情報を編集する</a></li>
                        <li><a href="{% url 'search_users' %}">友達を追加する</a></li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">ログアウト</button>
                        </form>

                        <h3>受け取った友達リクエスト</h3>
                        {% if friend_requests_received %}
                            {% for friend_request in friend_requests_received %}
                                <p>{{ friend_request.from_user.username }} からのリクエスト</p>
                                <form method="post" action="{% url 'accept_friend_request' friend_request.id %}">
                                    {% csrf_token %}
                                    <button type="submit">承認</button>
                                </form>
                                
                                <form method="post" action="{% url 'reject_friend_request' friend_request.id %}">
                                    {% csrf_token %}
                                    <button type="submit">拒否</button>
                                </form>
                            {% endfor %}
                        {% else %}
                            <p>受け取った友達リクエストはありません。</p>
                        {% endif %}

                        <!-- 友達一覧表示 -->
                        <h3>友達一覧</h3>
                        {% for friend in user.friendships_from.all %}
                            <p>{{ friend.user_to.username }} と友達です。</p>
                        {% endfor %}

                    </div>
                {% else %}
                    <!-- 認証されていないユーザー用のメニュー -->
                    <li><a href="{% url 'login' %}">ログイン</a></li>
                    <li><a href="{% url 'signup' %}">新規ユーザー登録</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <!-- コンテンツブロック -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
