{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midpoint</title>
</head>
<body>
    <h1>Midpoint</h1>
    <div id="map" style="height: 500px;"
         data-lat="{{ midpoint_lat }}" 
         data-lng="{{ midpoint_lng }}"></div>
    <script>
        function initMap() {
            const mapElement = document.getElementById('map');
            const midpoint = {
                lat: parseFloat(mapElement.dataset.lat),
                lng: parseFloat(mapElement.dataset.lng)
            };
            
            const map = new google.maps.Map(mapElement, {
                zoom: 12,
                center: midpoint
            });

            const marker = new google.maps.marker.AdvancedMarkerElement({
                map: map,
                position: midpoint
            });
        }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj92_8szXIvPxCIlLaxSBzhH1k4MW30Dg&callback=initMap&v=weekly&solution_channel=GMP_CCS_distancematrix_v2"
    defer
    ></script>
</body>
</html>
