{% extends "base_generic.html" %}
{% block content %}
<h2>Welcome to My Site</h2>

<h3>受け取った友達リクエスト</h3>
{% if friend_requests_received.exists %}
    {% for friend_request in friend_requests_received %}
        <p>{{ friend_request.from_user.username }} からのリクエスト</p>
        <a href="{% url 'accept_friend_request' friend_request.id %}">承認</a>
        <a href="{% url 'reject_friend_request' friend_request.id %}">拒否</a>
    {% endfor %}
{% else %}
    <p>受け取った友達リクエストはありません。</p>
{% endif %}

<h2>通知一覧</h2>
<ul>
  {% for notification in notifications %}
   <li>{{ notification.message }} - <a href="{% url 'mark_as_read' notification.id %}">既読にする</a></li>
  {% endfor %}
</ul>
{% endblock %}
